/* GLOBAL */

	* {
		padding:0px;
		margin:0px;
	}
	
	body {
		font-family:Arial, Helvetica, sans-serif;
		line-height:1.1em;
		background-color:#DDD;
		margin-bottom:100px;
	}
	
	body,
	div,
	table,
	td,
	select,
	option{
		font-size:12px;
	}
	
	#content{
		max-width:1000px;
		margin:auto ;
		padding:10px;
		}
		
	pre{
		font-size:11px;
		padding:10px;
		}
	
/* HOME LINK */

	#home{
		position:absolute;
		right:10px;
		top:10px;
		background-color:#AAA;
		padding:3px 6px;
		-moz-border-radius:5px;
		font-size:9px !important;
		text-decoration:none;
		color:#FFF !important;
		z-index:100;
		}
		
	#home:hover{
		background-color:#000;
		}


/* HELP */

	/* LAYOUT */
	
		#help {
			margin:30px 0px 50px 0px;
			}

		#help *{
			line-height:1.4em;
			font-weight:normal;
			}
			
		#instructions,
		#key,
		#theme{
			padding:30px 30px;
			}
			
	/* FORMATTING */

		#help h1{
			font-family:Tahoma, Geneva, sans-serif;
			text-align:center;
			font-size:50px;
			font-weight:normal;
			color:#000;
			}
			
		#help h2{
			margin-bottom:10px;
			font-size:24px;
			color:#000;
			}
	
		#help h3{
			font-size:13px;
			font-weight:normal;
			color:#AAA;
			}
			
		p.large{
			font-family:Tahoma, Geneva, sans-serif;
			font-size:24px;
			}
		
		
	/* OTHER */

		.text{
			background-color:#FFF;
			color:#333;
			font-weight:normal;
			padding:30px;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			vertical-align:top;
			position:relative;
			}
			
		#links{
			position:absolute;
			bottom:-20px;
			right:0px;
			}
			
		#help .highlight{
			color:red !important;
			}

		#help em span.highlight{
			cursor:pointer;
			}

		#help table,
		#help p,
		#help ul,
		#help li{
			margin-bottom:8px;
			}
			
		#help .text em{
			font-style:normal;
			color:#09F;
			}
			
	/* FORMS AND LINKS */

		#help option{
			padding:3px 0px 1px 3px;
			}
			
		#help a:link,
		#help a:visited{
			color:#09F;
			}
			
		a:hover,
		#help a:hover{
			color:black;
			}
			
		#help label{
			width:100px;
			display:inline-block;
			}
			
			

		
/* KEY */

	#key{
		margin-left:10px;
		}
		
	#key .section-key{
		width:100px;
		font-size:13px;
		text-align:center;
		-moz-border-radius:3px;
		padding:4px 3px 6px 3px;
		cursor:pointer;
		font-variant:small-caps;
		font-size:0.9em;
		}
		
	#key td{
		padding:4px 3px;
		}
	
	
/* BLOCK DEFAULTS */

	.block {
		margin: 10px 0px 10px 10px;
		border-left:10px solid #666;
		-moz-border-radius:5px;

	}
	
	.head {
		background-color:#666;
		color:#FFF;
		padding:10px 10px 10px 5px;
		cursor:pointer;
		clear:both;
		-moz-border-radius-topright:5px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-top-right-radius:5px;
		-webkit-border-bottom-right-radius:5px;
	}
	
	.function,
	.variables,
	.code,
	.extend > .body,
	.object > .body,
	.function > .body,
	.variables > .body,
	.code > .body{
		-moz-border-radius-topright:7px;
		-moz-border-radius-bottomright:7px;
		-webkit-border-top-right-radius:7px;
		-webkit-border-bottom-right-radius:7px;
		background-color:#FFF;
	}
	
	
	.section > .head {
		padding: 17px 10px; 
		line-height:1.2em;
	}
	
	.section > .head > p.title {
		font-size:24px;
	}
	
	.section > .head > p.desc {
		padding-top:10px;
	}
	
	p.title .type{
		font-variant:small-caps;
		font-size:0.9em;
		}
	
	p.title > a,
	p.title > a:link,
	p.title > strong{
		font-variant:normal;
		font-weight:bold;
		}

	.desc{
		display:none;
		font-size:11px;
		padding-top:4px;
		}
		
	pre.body {
		background-color:#FFF;
		font-family:"Courier New", Courier, monospace;
		font-size:11px;
		line-height:1.3em;
		display:none;
		position:relative;
		padding:10px;
		-moz-border-radius-topleft:0px;
		-moz-border-radius-topright:10px;
	}
	
	pre a, 
	pre a:link, 
	pre a:visited{
		color:inherit;
		text-decoration:none;
		border-bottom:2px dotted red;
		}
		
	pre a:hover{
		background-color:#EEE;
		}
		
	.tooltip{
		position:absolute; 
		top:10px;
		right:10px;
		background-color:#FFF;
		color:red;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:11px;
		}
		
		
/* BLOCK LINKS */

	.block > .head > p > a, 
	.block > .head > p > a:link{
		color:#FFF;
		text-decoration:none;
		}
		
	.block > .head > p > a:hover{
		color:#000;
		}
		
	.block.extend > .head > p > a:hover{
		color:#F00;
		}
		
/* BLOCK ICONS */

	#lib.icons div.block .head
	{
		background-image:url(/resources/javascript/deconstructed/assets/img/icons/icon-closed-white.gif);
		background-repeat:no-repeat;
		background-position:right;
	}
	
	#lib.icons div.block.open > .head
	{
		background-image:url(/resources/javascript/deconstructed/assets/img/icons/icon-open-white.gif);
	}
	
	#lib.icons div.block > .head > p > a{
		background-image:url(/resources/javascript/deconstructed/assets/img/icons/icon-link-white.gif);
		background-repeat:no-repeat;
		background-position:0px;
		padding-left:16px
		}

