<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- template-02.html -->
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	
	<title>$PAGE_TITLE</title>
	
	<style type="text/css">
		@import url("$ROOT_PATHcss/layout-h.css");
		@import url("$ROOT_PATHcss/fomatting.css");
		@import url("$ROOT_PATHcss/menus.css");
	</style>
	
	<!--[if IE]>
	<style type="text/css">
		@import url("$ROOT_PATHcss/ie.css");
	</style>
	<![endif]-->
</head>

<body>
	<div id="content">

		<div id="head">
			<div id="title">$SITE_NAME</div>
			<div id="header-image">&nbsp;</div>
			<ul id="main-nav">
$NAV_MAIN
			</ul>
			<ul id="sub-nav">
$NAV_LEFT
			</ul>
		</div>

	
		<div id="body">
			<div id="body-body">
$PAGE_BODY
			</div>
			<div id="body-foot">
			</div>
		</div>

		<div id="images">
		</div>

		<div id="foot">
			<ul id="foot-nav">
				<li id="terms"><a href="$ROOT_PATHhtml/other/terms.html"><span>Terms & Conditions</span></a></li>
				<li id="enquiries"><span>Enquiries: 07854 257 262</span></li>
				<li id="email"><a href="mailto:info@funkyfitfirm.co.uk"><span>Email: info@funkyfitfirm.co.uk</span></a></li>
			</ul>
		</div>

		
	</div>
</body>
</html>
