
/* HEAD LINKS */

	.block > .head > p,
	.block > .head > p > a{
		font-family:Arial, Helvetica, sans-serif;
		font-weight:normal;
		}

	.block > .head > p > a{
		border-bottom:1px dotted #FFF;
	}

	.block > .head > p > a:hover{
		color:#000;
	}
	
/* SECTION COLORS */

	.section { border-left:10px solid #09F; }
	.section > .head { background-color:#09F; }
	
	.extend { border-left:10px solid #000; }
	.extend > .head { background-color:#000; }
	
	.object { border-left:10px solid #666; }
	.object > .head { background-color:#666; }
	
	.function { border-left:10px solid #C00; }
	.function > .head { background-color:#C00; }
	
	.variables { border-left:10px solid #FC0; }
	.variables > .head { background-color:#FC0; }
	
	.code { border-left:10px solid #6C0; }
	.code > .head { background-color:#6C0; }
	
/* SECTION COLORS (HOVER) */

	#lib.hover .section:hover { border-left:10px solid #23a6ff; }
	#lib.hover .section:hover > .head { background-color:#23a6ff; }
	
	#lib.hover .extend:hover { border-left:10px solid #232323; }
	#lib.hover .extend:hover > .head { background-color:#232323; }
	
	#lib.hover .object:hover { border-left:10px solid #7b7b7b; }
	#lib.hover .object:hover > .head { background-color:#7b7b7b; }
	
	#lib.hover .function:hover { border-left:10px solid #d32323; }
	#lib.hover .function:hover > .head { background-color:#d32323; }
	
	#lib.hover .variables:hover { border-left:10px solid #ffd223; }
	#lib.hover .variables:hover > .head { background-color:#ffd223; }
	
	#lib.hover .code:hover { border-left:10px solid #7bd323; }
	#lib.hover .code:hover > .head { background-color:#7bd323; }
	
